#root {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: red;
}
#rootOdd {
  background-color: transparent;
}
#rootEven {
  background-color: transparent;
}
