#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#rootCanvasEven, #rootCanvasOdd {
  background-color: transparent;
}
